<h1>Angular 6 News Ticker</h1>

<h3>Manual</h3>
<ngx-newsticker title="Live News" [events]="eventList" [interval]="0"></ngx-newsticker>
<br/>
<br/>
<ngx-newsticker title="Live News" [events]="eventList" [interval]="0" [showCounter]="false" [defaultColor]="'#00E676'"></ngx-newsticker>
<br/>
<br/>
<ngx-newsticker title="Live News" [events]="eventList" [interval]="0" [defaultColor]="'#E91E63'" [backColor]="'#E91E63'"></ngx-newsticker>

<h3>Auto - with template</h3>
<div id="banner">
  <div class="globe">
    <!-- <img src="https://ian.macky.net/pat/map/globes/earth-cloudy-256-medium.gif"/> -->
    <img src="/assets/globe.gif" />
  </div>
  <div class="header">
    <h1>World News</h1>
    <h3>- live -</h3>
  </div>
  <div class="footer">
    <ngx-newsticker [title]="clockStr" [events]="eventList" [interval]="1500" [showCounter]="false"></ngx-newsticker>
  </div>
</div>
