:host ::ng-deep .newsticker>.nt-content {
  /* left: 155px !important; */
  >label> {
    span {
      color: #D32F2F;
      font-weight: bold;
    }
    a {
      color: #1565C0;
      font-weight: bold;
      text-decoration-style: double;
    }
  }
}

#banner {
  background: #555;
  /* width: 600px; */
  height: 135px;
  position: relative;
  padding: 15px;
}

.globe {
  z-index: 2;
  position: absolute;
  top: 15px;
  left: 15px;
  img {
    height: 120px;
    width: 120px;
    border: 6px solid #D32F2F;
    /* padding: 1px; */
    border-radius: 50%;
    box-shadow: 2px 2px 4px #000000;
  }
}

.header {
  background-color: #FFF;
  padding: 5px 5px 5px 74px;
  position: absolute;
  width: 75%;
  top: 25px;
  left: 110px;
  height: 60px;
  max-height: 75px;
  h1,
  h3 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 0;
    color: #D32F2F;
  }
}

.footer {
  position: absolute;
  width: 75%;
  top: 95px;
  border-left: solid 75px #1976D2;
  left: 65px;
  z-index: 1;
}
